* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --black: #363732;
    --grey: #646464;
    --white: #EFFFFF;
    --clear-blue: #C0FDFB;
    --blue: #3A7CA5;
    --dark-blue: #1985A1;
  
  }
  
  #root {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: var(--white);
    color: var(--grey);
  }
  
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 